version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: chorus_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

  # pgadmin:
  #   image: dpage/pgadmin4:8
  #   container_name: chorus_pgadmin
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: fake@gmail.com
  #     PGADMIN_DEFAULT_PASSWORD: password
  #   ports:
  #     - "5050:80"
  #   depends_on:
  #     - postgres
  #   volumes:
  #     - pgadmindata:/var/lib/pgadmin
  #   # run as root to avoid permissions issues inside Codespaces
  #   user: "0:0"
  #   healthcheck:
  #     test: ["CMD-SHELL", "curl -f http://localhost:80/login || exit 1"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

volumes:
  pgdata:
  pgadmindata: